pkgbase = linux-cachyos-surface
	pkgdesc = Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements.
	pkgver = 7.2.7
	pkgrel = 1
	url = https://github.com/jonpetersathan/linux-cachyos-surface
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = git
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.2.7-1/cachyos-7.2.7-1.tar.gz
	source = config
	source = https://raw.githubusercontent.com/Apiznel/linux-surface/refs/heads/7.2/configs/surface-7.2.config
	source = linux-surface::git+https://github.com/Apiznel/linux-surface.git#branch=7.2
	source = 0001-surface-button-eprobe-defer.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.2/misc/dkms-clang.patch
	b2sums = SKIP
	b2sums = 21343697f5f1647aadbdec8a4aa477b10622e5ae04fa07fcf6f9bab67dece7180872676bdc49a90de5d273c2c13127c5812a7ca67dbd9edce3e26e8c38d358d1
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 92351ce6697f8c6490dbedebcb76c83e91817d688a2c8498926e2399b778c79bd0cb5cf54a3379ef7a079ec87b714998a4b2bf2a67e690b83f58b99a38f10b49

pkgname = linux-cachyos-surface
	pkgdesc = The Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE
	provides = linux-cachyos-lto=7.2.7-1
	replaces = linux-cachyos-lto

pkgname = linux-cachyos-surface-headers
	pkgdesc = Headers and scripts for building modules for the Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel
	depends = pahole
	depends = linux-cachyos-surface
	depends = clang
	depends = llvm
	depends = lld
	provides = linux-cachyos-lto-headers=7.2.7-1
	replaces = linux-cachyos-lto-headers
